.container, .home-container {
    width: 1190px;
    margin: auto;
}

.header-logo {
    margin-top: 18px;
}

.line {
    border-right: 1px solid #898989;
    margin: 0 20px;
    height: 50px;
    margin-top: 25px;
}

.header-name li:nth-of-type(1) {
    color: #898989;
    font-size: 18px;
}

.header-name li:nth-of-type(2) {
    color: #898989;
    font-size: 14px;
    font-family: italic arial;
}

.header-name {
    margin-top: 26px;
    margin-right: 54px;
}

.header-search {
    height: 40px;
    background-color: #e4e9ec;
    border-radius: 25px 0 0 25px;
    width: 598px;
    margin-top: 48px;
    padding: 7px 0 7px 48px;
}

.header-search input {
    border: 1px solid #e4e9ec;
    border-radius: 25px;
    width: 300px;
    height: 26px;
    margin-right: 134px;
    padding-right: 32px;
}

.search-box {
    position: relative;
}

.search-box .fa-search {
    position: absolute;
    color: #0c78aa;
    left: 275px;
    cursor: pointer;
    top: 4px;
    font-size: 16px;
    background-color: #fff;
}

.search-box {
    margin-right: 34px;
    width: 300px;
}

.change li {
    float: left;
    font-size: 14px;
    margin-top: 2px;
    font-weight: 200;
    cursor: pointer;
}

.change li a {
    color: #000000;
    font-family: SimSun;
}

.change .li-line {
    margin: 0 18px;
    width: 1px;
    height: 16px;
    margin-top: 5px;
    background-color: #fff;
}

.header-nav li {
    float: left;
    padding: 0 36px 13px 36px;
}

.header-nav ul {
    margin: 22px 0 0 66px;
}

.header-nav li a {
    font-size: 18px;
    color: rgb(0, 152, 172);
    text-decoration: none;
}

.header-nav li.active {
    border-bottom: 2px solid #0da4c1;
}

.banner {
    height: 261px;
    background-color: #92aebd;
}

.banner .bg-banner {
    background: url("../img/D-1/banner.png") 0 0 no-repeat;
    height: 100%;
    display: block;
}

.case-create-banner {
    height: 247px;
    background-color: #33afcb;
}

.case-create-banner .case-create-bannerbg-banner {
    background: url("../img/B-1-c/bingli.png") 0 0 no-repeat;
    height: 100%;
    display: block;
}


.home {
    background-color: #efefef;
}

.home-container {
    padding: 48px 20px 10px 27px;
    background-color: #f8f8f8;
    margin-bottom: 73px;
}

.title h3 {
    color: #0098ac;
    font-size: 18px;

}

.title {
    border-bottom: 1px #dcdcdc solid;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.title sub {
    margin-left: 7px;
    font-size: 12px;
    font-family: Arial;
    color: #b5b5b6;
}

.news {
    width: 508px;
}

.title a {
    color: #b5b5b6;
    font-size: 14px;
}

.title a .fa-caret-right {
    color: #0098ac;
    margin-right: 4px;
}

.title .fr {
    padding-top: 2px;
}

.article-title {
    font-family: SimSun;
    font-size: 14px;
    color: #595757;
    margin-bottom: 2px;

}

.article-content {
    color: #b5b5b6;
    font-family: SimSun;
    font-size: 14px;
    max-height: 42px;
    overflow: hidden;
}

.article-box {
    margin-left: 161px;
    position: relative;
}

.content li {
    margin-bottom: 15px;
}

.content {
    padding: 0 6px;
}

.top {
    margin-bottom: 70px;
}

.book-name {
    padding: 17px 23px 24px 23px;
    background-color: #e7e7e7;
}

.book-list li {
    float: left;
    width: 143px;
    margin-right: 33px;
    padding: 0;
}

.book-list li:nth-of-type(3n) {
    margin-right: 0;
}

.book-list .book-name {
    font-size: 14px;
    color: #595757;
    font-family: SimSun;
}

.ul-list {
    margin-bottom: 35px;
}

.liter-content, .liter-content-video {
    width: 335px;
}

.liter-content-video .article-title {
    max-height: 21px;
    overflow: hidden;
}
.article-title{
    max-height: 21px;
    overflow: hidden;
}
.liter-content .article-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #dcdcdc;
    max-height: 66px;
    overflow: hidden;
}

.liter-content .article-content {
    max-height: 63px;
    overflow: hidden;
}

.news a {
    text-decoration: none;
}

.liter-content a .more {
    color: #0098ac;
    font-size: 14px;
    font-family: SimSun;
    cursor: pointer;
}

.liter p:nth-of-type(1) {
    font-size: 16px;
    color: #b5b5b6;
}

.liter p:nth-of-type(2) {
    font-size: 16px;
    color: #b5b5b6;
    font-family: Arial;
}

.liter-content li:not(:last-child) {
    margin-bottom: 46px;
}

.mod_service {
    height: 67px;
    background-color: #abcce6;
    line-height: 67px;
}

.mod_service li {
    float: left;
    margin-right: 182px;
}

.mod_service li:last-child {
    margin-right: 0;
}

.mod_service li a {
    color: #fff;
    font-size: 18px;
}

.site-header {
    background-color: #fff;
}

.copyright span {
    font-size: 14px;
    font-family: SimSun;
    color: #fff;
    margin-right: 52px;
}

.copyright {
    padding-bottom: 108px;
    background-color: #b4b4b4;
    padding-top: 25px;
}

.copyright hr {
    border-top: 1px solid #fff;
    width: 65px;
    display: inline-block;
    margin: 5px;
}

.phone span {
    font-size: 26px;
    font-weight: bold;
    font-family: Arial;
    margin-left: 800px;
}

.qrcode {
    width: 146px;
    height: 146px;
    position: absolute;
    right: 0;
    top: 30px;
}

.mod_service .container {
    position: relative;
}

.banner-module li {
    float: left;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #72acdc;
    margin-right: 25px;
}

.bg-banner .banner-module {
    margin-top: 85px;
    margin-left: 105px;
}

.banner-module a {
    color: #fff;
    text-align: center;
    display: block;
    padding: 3px;
}

.banner-module .title-cn {
    font-size: 18px;
}

.banner-module .title-en {
    font-size: 10px;
    -webkit-transform: scale(0.8);
}

a:focus, a:hover {
    text-decoration: none;
}

.module-book .top {
    margin-top: 25px;
}

.module-video .top {
    margin-top: 11px;
}

.module-book, .module-video {
    padding-top: 14px;
    border-top: 1px solid #c9caca;
    margin-top: 14px;
}

.module-video .des {
    font-family: SimSun;
    font-size: 14px;
    color: #595757;
}

.module-video .top li {
    float: left;
    margin-right: 20px;
    width: 250px;
}

.module-video .line {
    border-right: 1px solid #c9caca;
    height: 245px;
    margin: 11px 20px 0 0;

}

.video-title {
    margin-top: 11px;
    width: 312px;
}

.video-title li a {
    float: left;
    font-family: SimSun;
    font-size: 14px;
    color: #595757;
    overflow: hidden;
}

.video-title li {
    line-height: 35px;
    height: 35px;
    overflow: hidden;
}

.module-video .title {
    border-bottom: none;
}

.border-top-line {
    width: 164px;
    border: 1px solid #0da4c1;
    position: absolute;
    top: -1px;
    left: 0;
}

.module-video, .module-book {
    position: relative;
}
.module-video{
    margin-bottom: 0;
}
.classify {
    background-color: #d6d9de;
    height: 78px;
}

.book-content {
    margin-top: 12px;
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 21px;

}

.book-img {
    float: left;
    width: 143px;
}

.book-des {
    margin-left: 152px;
    position: relative;
    margin-right: 152px;
}

.works-title {
    font-size: 20px;
    font-family: 黑体;
    color: #595757;
    text-align: center;
}

.book-des {
    margin-top: 20px;
}

.author, .time {
    font-family: SimSun;
    font-size: 14px;
    color: #595757;
    text-align: center;
}

.author {
    margin-top: 30px;
    margin-bottom: 13px;
}

.time {
    margin-bottom: 10px;
    border-bottom: 1px solid #c9caca;
    padding-bottom: 10px;

}

.p-content {
    font-family: SimSun;
    font-size: 14px;
    color: #595757;
    line-height: 25px;

}

.acticle-img {
    margin-top: 30px;
}

.module-title {
    width: 146px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 5px;
    background-color: #0da4c1;
    color: #fff;
    font-size: 20px;
    margin-top: 23px;
}

.module-search .search-input {
    height: 33px;
    width: 437px;
    border-radius: 25px;
    margin-top: 23px;
    border: 1px solid #d6d9de;
    margin-right: 12px;
}

.module-search .search-btn {
    width: 107px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    background-color: #96979c;
    color: #fff;
    font-size: 18px;
    border: 1px solid #96979c;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

.case-create {
    background-color: #fff;
    margin-bottom: 15px;
}

.input-box {
    margin: 36px 0 89px 48px;
}

.ivu-input-lable {
    color: #0da4c1;
    font-size: 18px;
    width: 143px;
    float: left;
    text-align: right;
}

.ivu-input-lable .require {
    color: #f20000;
    margin-right: 8px;
}

.ivu-input-content {
    position: relative;
    margin-left: 143px;
}

.ipt-type {
    width: 404px;
    height: 29px;
    border: 1px solid #a0a0a0;
}

textarea {
    resize: none;
}

.textarea-type {
    width: 554px;
    height: 172px;
    margin-bottom: 32px;
    border: 1px solid #a0a0a0;
}
.type-file{
    display: none!important;
}
.btn-upload{
    width: 110px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    background-color: #a0a0a0;
    font-size: 14px;
    font-family: SimSun;
    color: #fff;
    border: 1px solid #a0a0a0;
}
.ipt-file{
    width: 442px;
}
.btn-submit{
    width: 146px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 5px;
    background-color: #0da4c1;
    color: #fff;
    font-size: 20px;
    margin-top:32px;
    margin-left: 143px;
    border: 1px solid #0da4c1;
}
/*轮播图*/
.box-entry{
    position: relative;
}
.entry-btn{
    position: absolute;
    top:163px;
}
.banner-lb{
    background-color: #efefef;
}


#lunbobox {
    width: 910px;
    height: 397px;
    position: relative;
}

.lunbo {
    width: 910px;
    height: 397px;
}

.lunbo img {
    width: 910px;
    height: 397px;
    position: absolute;
    top: 0;
    left: 0;
}

#lunbobox ul {
    width: 735px;
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 5;
}

#lunbobox ul li {
    cursor: pointer;
    width: 95px;
    height: 5px;
    float: left;
    list-style: none;
    background: #fff;
    text-align: center;
    margin: 0 25px 0 0;
    opacity: 0.8;
}
.bg-bar{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 16px;
    background-color: #bcbdbe;
    opacity: 0.5;
}